<div class="navbar">
    <header >
        <div class="titre">
            <h1><img src="logo.jpeg" alt="" class="logo">
                my etab</h1>

        </div>
            
         <ul class="menu">
            <li><a href="#" class="active" routerLink="/"> Dashboard </a></li>
            <li><a href="#" routerLink="/liststudent"><i class="fas fa-book-reader"></i> Student</a></li>
            <li><a href="#" routerLink="/listteacher"><i class="fas fa-chalkboard-teacher" ></i> Teacher</a></li>
            <li><a href="#" routerLink="/listuser"><i class="fas fa-user" ></i> User</a></li> 
            <li><a href="#" routerLink="/repor"><i class="fas fa-file-alt" ></i> Report</a></li>
            
        </ul>
            <a href="login.html" class="out"><i class="fas fa-sign-out-alt" ></i> Log-out</a>

    </header>
</div>

