
<div class="container-general">
   <app-menu/>
   <div class="Tableau">
    <div class="back">
        <h5><a href="/dashbord" routerLink="/dashbord" >back</a></h5>

    </div>
    <div class="titre">
        <h2>add teacher information</h2>
    </div>
    <div class="formuaire">
        <form [formGroup]="formAddSTeacher" class="formulaire">
           
            <div class="row">
                <div class="formu">
                    <label for="exampleFormControlInput">first_name</label>
                    <input type="text" [class.is-invalid]="isInvalidInput(formAddSTeacher.controls['first_name'])" placeholder="nom">
    
                </div>
                <div class="formu">
                    <label for="exampleFormControlInput">last_name</label>
                    <input type="text" [class.is-invalid]="isInvalidInput(formAddSTeacher.controls['last_name'])" placeholder="nom">
    
                </div>
            </div>
            <div class="formu">
                <input type="date" [class.is-invalid]="isInvalidInput(formAddSTeacher.controls['birthday'])" formControlName="birthday" class="form-control" id="exampleFormControlInput1">
        <span class="text-danger" *ngIf="isInvalidInput(formAddSTeacher.controls['birthday'])" >
            <ng-container *ngIf="formAddSTeacher.controls['birthday'].hasError('required')">
                Ce champs est requis
            </ng-container>
        </span>
    </div>

            
            <div class="formu">
                <label for="exampleFormControlInput">phone_number</label>
                <input type="text" [class.is-invalid]="isInvalidInput(formAddSTeacher.controls['phone_number'])" placeholder="nom">

            </div>
            <div class="formu">
                <label for="exampleFormControlInput">url_picture</label>
                <input type="text" [class.is-invalid]="isInvalidInput(formAddSTeacher.controls['url_picture'])" placeholder="nom">

            </div>
            <div class="radio">
            <label for="exampleFormControlInput">gender</label>
            <input type="radio" id="homme" name="genre" value="Homme" required>
            <label for="homme">Homme</label>
            <input type="radio" id="femme" name="genre" value="Femme" required>
            <label for="femme">Femme</label>
                
            </div>
            
            
            <div class="radio">
        
            <label for="classe" for="exampleFormControlInput">Speciality</label>
            <select id="classe" name="classe" required>
                <option value="1ère">Maths</option>
                <option value="2nde">Physique</option>
                <option value="3ème">SVT</option>
                <option value="4ème">English</option>
                <option value="5ème">Frensh</option>
            </select>
            </div>
            
            <div class="form-buttons">
                <button type="reset" class="cancel-btn">Cancel</button>
                <button type="submit" class="submit-btn">Send</button>
            </div>

        </form>
    </div>

</div>

</div>
          




        
