
<div class="container-general">
  <app-menu/>
  <div class="Tableau">
    <div class="back">
        <h5><a href="#" routerLink="/dashbord">back</a></h5>

    </div>


    <div class="titre">
        <h2>Add student</h2>
    </div>
    <div class="formuaire"> -->
        <form [formGroup]="formAddStudent" class="formulaire">
           
            <div class="formu">
                <label for="exampleFormControlInput">first_name</label>
                <input type="text" [class.is-invalid]="isInvalidInput(formAddStudent.controls['first_name'])" placeholder="nom">

            </div>
            <div class="formu">
                <label for="exampleFormControlInput">last_name</label>
                <input type="text" [class.is-invalid]="isInvalidInput(formAddStudent.controls['last_name'])" placeholder="nom">

            </div>
            <div class="formu">
                <label for="exampleFormControlInput">birthday</label>
                <input type="date" [class.is-invalid]="isInvalidInput(formAddStudent.controls['birthday'])" formControlName="birthday" class="form-control" id="exampleFormControlInput1">
        <span class="text-danger" *ngIf="isInvalidInput(formAddStudent.controls['birthday'])" >
            <ng-container *ngIf="formAddStudent.controls['birthday'].hasError('required')">
                Ce champs est requis
            </ng-container>
        </span>

            </div>
            <div class="formu">
                <label for="exampleFormControlInput">phone_number</label>
                <input type="text" [class.is-invalid]="isInvalidInput(formAddStudent.controls['phone_number'])" placeholder="nom">

            </div>
            <div class="formu">
                <label for="exampleFormControlInput">url_picture</label>
                <input type="text" [class.is-invalid]="isInvalidInput(formAddStudent.controls['url_picture'])" placeholder="nom">

            </div>
            <div class="formu">
                <label for="exampleFormControlInput">matricule</label>
                <input type="text" [class.is-invalid]="isInvalidInput(formAddStudent.controls['matricule'])" placeholder="nom">

            </div>
            <div class="formu">
                <label for="exampleFormControlInput">phone_number_father</label>
                <input type="text" [class.is-invalid]="isInvalidInput(formAddStudent.controls['phone_number_father'])" placeholder="nom">

            </div>
            <div class="radio">
            <label for="exampleFormControlInput">gender</label>
            <input type="radio" id="homme" name="genre" value="Homme" required>
            <label for="homme">Homme</label>
            <input type="radio" id="femme" name="genre" value="Femme" required>
            <label for="femme">Femme</label>
                
            </div>
            
            
            <div class="radio">
        
            <label for="classe" for="exampleFormControlInput">Level</label>
            <select id="classe" name="classe" required>
                <option value="1ère">1ère</option>
                <option value="2nde">2nde</option>
                <option value="3ème">3ème</option>
                <option value="4ème">4ème</option>
                <option value="5ème">5ème</option>
            </select>
            </div>
            
            <div class="form-buttons">
                <button type="reset" class="cancel-btn">Cancel</button>
                <button type="submit" class="submit-btn">Send</button>
            </div>

        </form>
 </div>
</div>
</div>
          
     

