
    <div class="container-general">
        <div class="navbar">
            <header >
                <div class="titre">
                    <h1><img src="logo.jpeg" alt="" class="logo">
                        my etab</h1>
        
                </div>
                    
                 <ul class="menu">
                    <li><a href="home.html" class="active"><a href="" alt="">Dashboard</a></li>
                    <li><a href="list_student.html"><i class="fas fa-book-reader"></i> Student</a></li>
                    <li><a href="list_student_cards.html"><i class="fas fa-book-reader"></i> Student cards</a></li>
                    <li><a href="list_absence.html"><i class="fas fa-book-reader"></i> Absence</a></li>
                    <li><a href="list_teacher.html"><i class="fas fa-chalkboard-teacher" ></i> Teacher</a></li>
                    <li><a href="list_user.html"><i class="fas fa-user" ></i> User</a></li>
                    <li><a href="list_school.html"><i class="fas fa-user" ></i> School</a></li>
                    <li><a href="list_app_setting.html"><i class="fas fa-user" ></i> app setting</a></li>
                    <li><a href="list_address.html"><i class="fas fa-user" ></i> addresse</a></li>
                    <li><a href="list_role.html"><i class="fas fa-user" ></i> Role</a></li>
                    <li><a href="repot.html"><i class="fas fa-file-alt" ></i> Report</a></li>
                    
                </ul>
                    <a href="login.html" class="out"><i class="fas fa-sign-out-alt" ></i> Log-out</a>
    
            </header>
        </div>
<div class="Tableau">
    <div class="back">
        <h5><a href="home.html">back</a></h5>

    </div>

    <div class="titre">
        <h2>Edit student cards</h2>
    </div>
    <div class="formuaire">
        <form action="" method="post" class="formulaire">
         
            <div class="formu">
                <input type="text" placeholder="first name">
            </div>
            <div class="formu">
                <input type="text" placeholder="last name">
            </div>
            <div class="radio">
                <label>Sex</label>
            <input type="radio" id="homme" name="genre" value="Homme" required>
            <label for="homme">Male</label>
            <input type="radio" id="femme" name="genre" value="Femme" required>
            <label for="femme">Female</label>
                
            </div>
            <div class="formu">
                <input type="text" placeholder="matricule">
            </div>
            <div class="formu">
                <input type="date" placeholder="date de naissance">
            </div>
            <div class="radio">
        
                <label for="classe">Level</label>
            <select id="classe" name="classe" required>
                <option value="1ère">1ère</option>
                <option value="2nde">2nde</option>
                <option value="3ème">3ème</option>
                <option value="4ème">4ème</option>
                <option value="5ème">5ème</option>
            </select>
            </div>
            <div class="formu">
                <input type="text" placeholder="phone">
            </div>
            <div class="formu">
                <input type="text" placeholder="town">
            </div-->
            <div class="form-buttons">
                <button type="reset" class="cancel-btn">Cancel</button>
                <button type="submit" class="submit-btn">Send</button>
            </div>

        </form>
    </div>

</div>
</div>
          

        
    
