
    <div class="container-general">
     <app-menu/>
     <div class="Tableau">
        <div class="back">
            <h5><a href="/dashbord" routerLink="/dashbord">back</a></h5>
    
        </div>

    <div class="titre">
        <h2>Edit student information</h2>
    </div>
    <div class="formuaire">
        <form [formGroup]="formEditStudent" class="formulaire">
           
            <div class="formu">
                <label for="exampleFormControlInput">first_name</label>
                <input type="text" [class.is-invalid]="isInvalidInput(formEditStudent.controls['first_name'])" placeholder="nom">

            </div>
            <div class="formu">
                <label for="exampleFormControlInput">last_name</label>
                <input type="text" [class.is-invalid]="isInvalidInput(formEditStudent.controls['last_name'])" placeholder="prenon">

            </div>
            <div class="formu">
                <input type="date" [class.is-invalid]="isInvalidInput(formEditStudent.controls['birthday'])" formControlName="naissance" class="form-control" id="exampleFormControlInput1">
                <span class="text-danger" *ngIf="isInvalidInput(formEditStudent.controls['birthday'])" >
                    <ng-container *ngIf="formEditStudent.controls['birthday'].hasError('required')">
                        Ce champs est requis
                    </ng-container>
                </span>
            </div>
            <div class="formu">
                <label for="exampleFormControlInput">phone_number</label>
                <input type="text" [class.is-invalid]="isInvalidInput(formEditStudent.controls['phone_number'])" placeholder="numero">

            </div>
            <div class="formu">
                <label for="exampleFormControlInput">url_picture</label>
                <input type="text" [class.is-invalid ]="isInvalidInput(formAddStudent.controls['nom'])" placeholder="lien d'image">

            </div>
            <div class="formu">
                <label for="exampleFormControlInput">matricule</label>
                <input type="text" [class.is-invalid]="isInvalidInput(formEditStudent.controls['matricule'])" placeholder="matrcule">

            </div>
            <div class="formu">
                <label for="exampleFormControlInput">phone_number_father</label>
                <input type="text" [class.is-invalid]="isInvalidInput(formEditStudent.controls['phone_number_father'])" placeholder="numero du père">

            </div>
            <div class="radio">
            <label for="exampleFormControlInput">gender</label>
            <input type="radio" id="homme" name="genre" value="Homme" required>
            <label for="homme">Homme</label>
            <input type="radio" id="femme" name="genre" value="Femme" required>
            <label for="femme">Femme</label>
                
            </div>
            
            
            <div class="radio">
        
            <label for="classe" for="exampleFormControlInput">Level</label>
            <select id="classe" name="classe" required>
                <option value="1ère">1ère</option>
                <option value="2nde">2nde</option>
                <option value="3ème">3ème</option>
                <option value="4ème">4ème</option>
                <option value="5ème">5ème</option>
            </select>
            </div>
            
            <div class="form-buttons">
                <button type="reset" class="cancel-btn">Cancel</button>
                <button type="submit" class="submit-btn">Send</button>
            </div>

        </form>
    </div>

</div>
</div>
          
    


        
    
